<div class="jumbotron">
  <h1>Welcome to BootCamp Projects</h1>
  <p>Please sign in <%= link_to "here", new_user_session_path, class: "btn btn-primary btn-lg" %> </p>
  <p>Please register <%= link_to "here", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>

